div.preferences-container {
    width: 850px;
    height: auto;
    margin: 20px auto;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    background-color: #383838;
}

div#preferences-categories-container div.container {
  margin-top: 10px;
  text-align: center;
}

button.preferences-category {
    width: 250px;
    height: 80px;
    margin: 10px 5px;
    background-color: #1C77C3;
    border: none;
    display: inline-block;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.19);
    transition: background-color 0.25s;

    font-size: 1.5em;
    font-family: var(--font-primary);
    color: #FFFFFF;
}

button.preferences-category:hover {
  background-color: #3888c9;
  cursor: pointer;
}

/*** Add Header (i.e., <h1>) Styling Here ***/

div#preferences-rating-container {
    margin-top: 20px;
    display: none;  /* Categories shown by default */
}

/*** Add Rating Row (i.e., <fieldset>, <p>) Here ***/

div.preferences-rating-labels {
    width: 100%;
}

div.preferences-buttons {
    width: 100%;
    text-align: center;
}

// task 2 CSS -- to-be moved
fieldset {
  border: none;
}

.preferences-rating-row p {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px; /* test then adjust spacing */
}

.preferences-rating-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// task 5 CSS -- to-be moved
.preferences-rating-labels p {
  font-size: 1.5em;
  display: inline-block;
  /* Margins may be adjusted, but flexbox 'space-between' may be enough */
}



/*** Add "Find City" Button (i.e., <button>) Here ***/

button#back {
  display: none; /* Only show when category selected */
}