div.landing-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Black tinted background video */
div.landing-container div.landing-tint {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
}
div.landing-container video {
    min-width: 100%;
    min-height: 100%;
}

/* Logo, slogan, and "Get Started" button */
div.landing-content {
    height: auto;
    width: 100%;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 27.5%;
}
div.landing-content h1,
div.landing-content h2 {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: TiltNeon;
}
div.landing-content h1 { font-size: 14vh; }
div.landing-content h2 { font-size: 6vh; }
div.landing-content button {
    padding: 1vh 1vw 1vh 1vw;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 4vh;
    font-family: TiltNeon;
    background-color: #FF8200;
    margin-top: 3vh;
    transition: background-color 0.25s;
}
div.landing-content button:hover {
    cursor: pointer;
    background-color: #FF9C35;
}
div.landing-content button:focus { outline: none; }

/* Bobbing arrow */
div.landing-container i {
    width: 100%;
    font-size: 6vh;
    color: #FFFFFF;
    margin: 0 0 2vh 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
    animation: bob 1s ease-in infinite alternate;
}
div.landing-container i:hover {
    cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 767px) {
    div.landing-content h1 { font-size: 11vh; }
    div.landing-content h2 { font-size: 4.5vh; }
}